<h1>Listing messages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.title %></td>
    <td><%= message.user %></td>

    <td><%= link_to 'Show encrypted', show_encrypted_message_path(message), :class => 'btn btn-success'  if current_user.id == message.user.id%></td>

    <td><%= link_to 'Show', message ,:class => 'btn'%></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } , :class =>'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path ,:class => 'btn btn-success'%>
